@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');


.navbar {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    border-bottom: black 1px solid;
}

